<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.java.pojo.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="uName" jdbcType="VARCHAR" property="uName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>
    <insert id="add" parameterType="User" >
            insert into users ( uName,phone,address,password ) values (#{uName},#{phone},#{address},#{password})
        </insert>

    <delete id="delete" parameterType="int" >
            delete from users where id= #{id}
        </delete>

    <select id="get" parameterType="int" resultType="User">
            select * from   users  where id= #{id}
        </select>

    <update id="update" parameterType="User" >
            update users set uName=#{uName},phone=#{phone},address=#{address},password=#{password} where id=#{id}
        </update>
    <select id="list" resultType="User">
        select * from   users
    </select>

    <select id="finduser" parameterType="User" resultType="User">
        select * from   users
        <where>
            <if test="uName != ''">uName = #{uName}</if>
            <if test="phone != ''"> and phone = #{phone}</if>
            <if test="address != ''">and address = #{address}</if>
        </where>
    </select>

    <select id="login" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from users where uName = #{uName,jdbcType=VARCHAR}
  </select>
</mapper>